.ShopBasketModalOwerflow{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.ShopBasketModal {
    margin: auto;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 603px;
    width: 960px;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 999;
}

.ShopBasketModal__displayNone {
    display: none;
}

.ShopBasketModal__header {
    display: flex;
    justify-content: space-between;
}