.InfoProduct{
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 0 40px;
}

.InfoProduct__country, .InfoProduct__сategory, .InfoProduct__edition {
  font-weight: 700;
}

.InfoProduct__price{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
